<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/stye.css">
        <title>Home</title>
    </head>
    <body>
        <div class="container mt-4">
            <!-- Edit existing Quote -->
            <div class="container">
                <h2 class="text-center text-muted mt-4">Edit existing Quote</h2>
                <form action="/edit/<%= cardId %>" method="POST">
                  <div class="form-group">
                    <label for="pictureUrl">Picture Url:</label>
                    <input type="file" id="pictureUrl" class="form-control" placeholder="Enter Picture Url" name="pictureUrl">
                  </div>

                  <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" class="form-control" placeholder="Enter name" name="name">
                  </div>

                  <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" id="description" class="form-control" placeholder="Enter description" name="description">
                  </div>
                  <button type="submit" class="btn btn-default border">Submit</button>
                </form>
              </div>
        </div>
    </body>
</html>